
.jumbotron{
    padding-top:6rem;
    background-color:#e2edff ;
}

#projects {
    background-color:#e2edff ;
}

section{
    padding-top: 5rem;
}


body {
    font-family: 'Roboto', sans-serif;
}
/* Efek Hover pada Kartu Proyek */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
